<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SecretStore" type="LeapingGorilla.SecretStore.Configuration.SecretConfigurationSection, LeapingGorilla.SecretStore"/>
	</configSections>

	<SecretStore>
		<Secrets>
			<add name="HappyPath" key="HappyPathKey" />
		</Secrets>
	</SecretStore>
</configuration>