<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.4.3" targetFramework="net461" />
  <package id="AWSSDK.KeyManagementService" version="3.1.1.2" targetFramework="net461" />
  <package id="LeapingGorilla.Testing" version="1.0.1.25741" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
</packages>