<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeapingGorilla.SecretStore.Aws.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LeapingGorilla.SecretStore.Aws.Properties.Settings>
            <setting name="AWS_KeyId" serializeAs="String">
                <value />
            </setting>
            <setting name="AWS_AccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AWS_SecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AWS_UseAccessKey" serializeAs="String">
                <value>False</value>
            </setting>
        </LeapingGorilla.SecretStore.Aws.Properties.Settings>
    </applicationSettings>
</configuration>